.events {
    position: relative;
    height: 18.75rem;
    overflow: auto;
}
.eventHeader {
    margin-left: 10px;
}
#addEvent {
    font-size: 2em;
    font-weight: bold;
    float: right;
    position: relative;
    top: -4.0625rem;
    right: 0.625rem;
}

#addEvent:hover {
    cursor: pointer;
}

.singleEvent {
    background-color: #446270;   
    margin: 3px;
    padding-left: 5px;
    padding-top: 5px;
}

#cancelEvent {
    text-align: right;
    font-family: 'Nunito', sans-serif;

}

.edit,
.delete {
    margin-left: 5px;
    cursor: pointer;
}