.post__list {
    background-color: lightblue;
    padding: 5px
}

.post__single {
    background-color: lavender;
    width: 70%;
    margin: 0 0 0 5px;
}


.post__new {
    display: flex;
    flex-flow: column wrap;
    background-color: lightcoral;
}

.new__textarea {
    width: 70%;
}

.new__btn-post {
    width: 25%;
}