/* The script that sets the scroll bar is based on the .post__list height value.
To ensure scroll bar works correctly, I *think* we have to set a specific height value on .post__list. */
.postHeader {
    margin-left: 10px;
}


.post__list {
    background-color: #314650;
    padding: 5px;
    height: 200px;
    /* I set the overflow only on the Y axis, because I didn't want
    the bottom scroll bar to ever show up. But maybe that's not how overflow-y works!*/
    overflow-y: auto;
}

.post__single {
    background-color: #446270;
    width: 80%;
    margin: 5px 0 0 5px;
    padding-bottom: 5px;
}

/* Test to differentiate active user's posts from non-active */
.single__active {
    background-color: #bb7615;
}

.post__new {
    display: flex;
    flex-flow: column wrap;
    background-color: #44616f;
}
