.border {
    display: flex;
    background-color: #314650;
    align-items: center;
    margin: .5em;
    height: 200px;
    width: 200px;
}

.columns {
    display: flex;
    justify-content: center;
}

.auth--header {
    display: flex;
    justify-content: center;
}

.login,
.register {
    text-align: center;
}

/* this class is added to hide the login/registration after authentication */
.hideAuth {
    display: none;
}






