@import "./dashboard/posts.css";

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-areas: 
        "header header header"
        "tasks events news"
        "posts posts friends";
}

.dash--header {
    grid-area: header;
    background-color: cornsilk;
    border: 3px solid black;
    margin: .5em;
    height: 7.8125rem;
}

.tasks {
    grid-area: tasks;
    background-color: cornsilk;
    border: 3px solid black;
    margin: .5em;
} 

.events {
    grid-area: events;
    background-color: cornsilk;
    border: 3px solid black;
    margin: .5em;
}

.news {
    grid-area: news;
    background-color: cornsilk;
    border: 3px solid black;
    margin: .5em;
}

.posts {
    grid-area: posts;
    background-color: cornsilk;
    border: 3px solid black;
    margin: .5em;
}

.friends {
    grid-area: friends;
    background-color: cornsilk;
    border: 3px solid black;
    margin: .5em;
}

.hideDashboard {
    display: none;
}