@import "./dashboard/posts.css";
@import "./dashboard/tasks.css";

.dashboard {
    background-color: #2c1b0b;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-areas: 
        "header header header"
        "tasks events news"
        "posts posts friends";
}

.dash--header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #314650;
    background-color: white;
    margin: 1em, 1em, .25em, 1em;
    height: 7.8125rem;
    padding: 1em;
}

.fullLogo {
    height: auto;
    width: auto;
    max-height: 7.7rem;
}

.tasks {
    grid-area: tasks;
    background-color: #314650;
    margin: .25em;
} 

.events {
    grid-area: events;
    background-color: #314650;
    margin: .25em;
}

.news {
    grid-area: news;
    background-color: #314650;
    margin: .25em;
}

.posts {
    grid-area: posts;
    background-color: #314650;
    margin: .25em;
}

.friends {
    grid-area: friends;
    background-color: #314650;
    margin: .25em;
}

.hideDashboard {
    display: none;
}